### IDE files
.vscode/**/*.*
### RDS files
Good2018/Rdata/**/*.*
### tables
Good2018/tables/old_*.*
Good2018/tables/Basal_TrainingSet_*.*
Good2018/tables/patient_cohort_overview.csv
### logs
Good2018/log/*.*
### results
Good2018/coxhazard/Basal/**/*.*
Good2018/coxhazard/BCR/**/*.*
Good2018/coxhazard/NRI.IDI/**/*.*
### old uncommented and cleaned
Good2018/coxhazard/20200302_cox.model_V03.R
### students directories
Good2018/coxhazard/Eric/*.*
Good2018/coxhazard/Eric.Urbansky/**/*.*
Good2018/coxhazard/Felix.Lohrke/**/*.*
### literature
Good2018/paper/**/*.*
Good2018/paper/Time-dependent_ROC_curve_analysis_in_medical_resea.pdf
Good2018/paper/cites/Burch2017_NRI_IDI.pdf
Good2018/paper/cites/Hilden2014_NRI_IDI.pdf
Good2018/paper/cites/Pencina2011_NRI_IDI.pdf
Good2018/paper/cites/Uno2007_iAUC.pdf
Good2018/paper/cites/Uno2011_C-statistic.pdf
Good2018/paper/cites/Uno2013_A unified inference procedure for a class of measures to assess improvement in risk prediction systems with survival data.pdf
Good2018/paper/cites/Wolever1985_iAUC.pdf
### others
Good2018/pngs/*.*
Good2018/presentations/*.*